{% load static %} 
<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
        <script src="../static/js/p5.min.js"></script>
        <script src="../static/js/p5.dom.min.js"></script>
        <script src="../static/js/p5.sound.min.js"></script>
        <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="../static/css/sepa_style.css">
        <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

        <meta charset="utf-8">

    </head>
    <body>
        <script src="../static/js/take_photo_sketch.js"></script>
        <div class="window_container">
            <button class="btn btn-primary" id="take_a_photo" style="display: block;" onclick="take_a_photo()"> Take a Pic </button>
            <button class="btn btn-primary" id="retake_photo" style="display: none;" onclick="retake_photo()"> Retake </button>
            <button class="btn btn-primary" id="confirm_photo" style="display: none;" onclick="confirm_photo()"> Confirm </button>
        </div>


        



    </body>
</html>